---
	import MainLayout from '../layouts/MainLayout.astro'

	const name = "Jean"
---

<MainLayout title={"Home"}>
	<h1>{name}</h1>

	<p>Momento actual: {new Date().toLocaleTimeString()}</p>
	<p id="currentDate"></p>

	<script>
		const currentDate = document.querySelector("#currentDate") as HTMLParagraphElement;

		currentDate.innerHTML += `Momento actual real: ${new Date().toLocaleTimeString()}`
	</script>
</MainLayout>